* {
    box-sizing: border-box;
    margin: 0;
    /* anche padding: 0; pericoloso però quando ci sono delle liste */
    font-family: 'Roboto', sans-serif;
    /* le indicazioni generiche sul font come font-family si possono mettere anche solo nel tag html */
}
body {
    background-color: lightgrey;
}
header {
    background-color: white;
}
.logo {
    margin: 5px;
    vertical-align: middle;
}
.titolo {
    display: inline-block;
    vertical-align: middle;
    /* per allineare più cose verticalmente devo usare il vertical-align per ognuna di esse */
}
main {
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}
.button-section {
    padding: 10px 50px;
}
button {
    padding: 5px;
    border-radius: 5px;
}
.button1 {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    color: white;
}
.button2 {
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}
hr {
    color: none;
}
.list-section {
    padding: 50px;
}
.no-style {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 10px 0;
}
.marker {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    /* per centrarlo verticalmente */
}
.check {
    color: lime;
    border: 1px lime solid;
}
.cross {
    color: red;
    border: 1px red solid;
}
.tag {
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.6em;
}
.blue {
    background-color: cornflowerblue;
}
.purple {
    background-color: mediumpurple;
}
.green {
    background-color: mediumaquamarine;
}
.orange {
    background-color: goldenrod;
}
.pink {
    background-color: palevioletred;
}
.yellow {
    background-color: yellowgreen;
}